<html>
  <head>
    <title>RAKSHAK
      </title>
  // Add evo-calendar.css (default theme included) in the <head> tag

<link rel="stylesheet" type="text/css" href="https://rakshak53.github.io/evo-calendar/css/evo-calendar.css"/>

// Themes? Add them right after the main css

<link rel="stylesheet" type="text/css" href="https://rakshak53.github.io/evo-calendar/css/evo-calendar.orange-coral.css"/>
  </head>
  
  <body>
    <div id="calendar">
      
      
      </div>
    
    
  
  </body>
</html>
